body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
display: flex;
place-items: center;
justify-content: center;
align-items: center;
margin-top: 60px;
}

.container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}
.facebook-logo {
    width: 15px; 
    height: 15px;
    margin-right: 10px; 
  }
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
}

.input-group {
    margin-bottom: 10px;
    margin-right: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn {
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #0085f6;
}
.container2{
    display: flex;
  
}
.or-divider {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.container3 {
    text-align: center;
}

.facebook-btn {
   
    color: #385185;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: white;
}



.facebook-btn:hover {
    color: #385185;
}
i.fab.fa-facebook-f {
    color: white;
    background:#385185;
}
a, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    padding: 2px;
    margin-right: 2px;
}
.container4 {
    text-align: center;
}

.frt-btn {
   
    color: #385185;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: white;
    font-size: x-small;
}
.container5 {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 340px;
    margin-top: 20px;
}

.sign-btn {
   
    color: #1877F2;;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: white;

    font-weight: bold;
}
.accout{
margin-left: 30px;
justify-content: center;
align-items: center;
font-size: 14px;
}
.app{
    align-items: center;
    justify-content: center;
    
    margin-left: 130px;
font-size: 14px;
}

.store-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
    background-color: black;
  }
  .google-play{
    margin-top: -100px;
  }
 .micro img{
    width: 160px;
    margin-left: 20px;
 }
 .play img{
    width: 135px;
 }
  .lin{
    display: flex;
  }